code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: "Barlow Condensed";
}

.fonts {
  color: white;
  font-family: "Barlow Condensed";
}