@font-face {
    src: url(fonts/Kano.otf);
    font-family: kano;
  }
  
  body {
    margin: 0;
    font-family: kano;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: lightblue;
  }